.card {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-radius: 6px;
  border: 1px solid transparent;
  background-color: #c0c0c0;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  height: 166px;
  width: 166px;
  cursor: pointer;
}

.card:hover {
  transform: translate3d(0, -4px, 0);
  border-radius: 6px;
  border: 2px solid #fff;
  transition: all 0.4s ease-in-out;
}

.title {
  font-size: 32px;
  font-weight: 600;
  line-height: 1.5;
  color: #fff;
  margin: 0;
  padding: 0;
  margin: 10px;
  text-overflow: ellipsis;
  /* overflow: hidden; */
}

.description {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.5;
  color: #fff;
  padding: 0;
  margin: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media only screen and (min-width: 768px) {
  .card {
    height: 206px;
    width: 206px;
  }
}
