.root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.title {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
  text-transform: uppercase;
}

.error {
  color: red;
  font-size: 0.8rem;
}

.login {
  text-align: center;
  margin-top: 10px;
  color: red;
  text-decoration: underline;
}
