.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
}

.container label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  width: 80%;
}

.container input {
  border: 1px solid black;
  background-color: rgba(255, 255, 255, 0.3);
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 15px;
  width: 80%;
}

.buttonWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 8px;
  width: 80%;
}

@media only screen and (min-width: 768px) {
  .container {
    align-items: flex-start;
    justify-content: center;
    width: 100%;
  }

  .container label {
    width: 90%;
  }

  .container input {
    width: 90%;
  }

  .buttonWrapper {
    width: 90%;
  }
}
